@using AspNetCoreIdentity.Web.Extensions

@{
    ViewData["Title"] = "View do segredo";
}
<h1>@ViewData["Title"]</h1>

<p>View do segredo.</p>


@{
    if (this.IfClaim("Produtos", "Adicionar1"))
    {
        <p>Voce só vera isso se tiver permissao de adicionar</p>
    }
}

<div>
    @Html.ActionLink("Segredo", "Secret").IfClaimShow(Context, "Produtos", "Ler")
</div>
<div>
    <br />
    <button type="button" class="btn btn-danger" @Html.Raw(this.IfClaimShow("Produtos", "Ler"))> Excluir</button>
</div>